<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>sappe</display-name>
    <servlet>
        <servlet-name>ServletCentral</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.servlets.ServletCentral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdCorrigirQuestoes</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.Supervisor.CmdSupervisorCorrigirProva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdRealizarPoscompPadrao</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdRealizarPoscompPadrao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdEditarCadastro</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdEditarCadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdGerarPDFProva</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdGerarPdfProva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdicionarAluno</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdAdicionarAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAtivarConta</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdAtivarConta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdSupervisorVisualizarProvas</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.Supervisor.CmdSupervisorVisualizarProvas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdSupervisorSalvarCorrecaoProva</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.Supervisor.CmdSupervisorSalvarCorrecaoProva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdSupervisorSelecionarArquivo</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.Supervisor.CmdSupervisorSelecionarArquivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdEnviarArquivos</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdEnviarArquivos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdListarQuestoesExamePadrao</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdListarQuestoesExamePadrao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUploud</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.servlets.ServletUploud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdVisualizarArquivo</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdVisualizarArquivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdVisualizarHistorico</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdVisualizarHistorico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSupervisorAdicionarQuestao</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.servlets.Supervisor.ServletSupervisorAdicionarQuestao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdRecuperarSenha</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.CmdRecuperarSenha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdRedirecionar</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.CmdRedirecionar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdGerarRelatorio</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdGerarRelatorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdSupervisorAdicionarSimulado</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.Supervisor.CmdSupervisorAdicionarSimulado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdVisualizarSimulado</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdVisualizarSimulados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdRealizarSimulado</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdRealizarSimulado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdListarQuestoesSimuladoById</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdListarQuestoesSimuladoById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdSalvarSimulado</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdSalvarSimulado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdVisualizarResultadoSimulado</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdVisualizarResultadoSimulado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdSupervisorVisualizarSimulados</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.Supervisor.CmdSupervisorVisualizarSimulados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdSupervisorVisualizarResultadoSimulado</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.Supervisor.CmdSupervisorVisualizarResultadoSimulado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdSupervisorVisualizarDesempenhoByAluno</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.Supervisor.CmdSupervisorVisualizarDesempenhoAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdSupervisorVisualizarResultado</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.Supervisor.CmdSupervisorVisualizarResultadoSimuladoAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdGerenciarSession</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.CmdGerenciarSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdVisualizarGabarito</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdVisualizarGabarito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdSupervisorAdicionarSimuladoRestrito</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.Supervisor.sup.CmdSupervisorAdicionarSimuladoRestrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdSupervisorAdicionarAlunoSimulado</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.Supervisor.sup.CmdSupervisorAdicionarAlunoSimulado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdSupervisorBuscarAluno</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.sup.CmdSupervisorBuscarAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdSupervisorVisualizarGabarito</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.Supervisor.sup.CmdSupervisorVisualizarGabarito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdSupervisorExcluirSimulado</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.sup.CmdSupervisorExcluirSimulado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdminVisualizarAlunos</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminVisualizarAlunos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminAdicionarQuestao</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.servlets.admin.ServletAdminAdicionarQuestao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdSupervisorAdicionarAluno</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.sup.CmdSupervisorAdicionarAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdTeste</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.CmdTeste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdminAdicionarSupervisor</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminAdicionarSupervisor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdminEditarSupervisor</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminExcluirSupervisor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdminBuscarUsuarios</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminBuscarAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdminVisualizarSupervisores</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminVisualizarSupervisores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdminEditarQuestao</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminEditarQuestao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdminAtualizarQuestao</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminAtualizarQuestao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCentral</servlet-name>
        <url-pattern>/ServletCentral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUploud</servlet-name>
        <url-pattern>/ServletUploud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdCorrigirQuestoes</servlet-name>
        <url-pattern>/CmdCorrigirQuestoes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdEditarCadastro</servlet-name>
        <url-pattern>/CmdEditarCadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdRealizarPoscompPadrao</servlet-name>
        <url-pattern>/CmdRealizarPoscompPadrao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdGerarPDFProva</servlet-name>
        <url-pattern>/CmdGerarPDFProva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdicionarAluno</servlet-name>
        <url-pattern>/CmdAdicionarAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAtivarConta</servlet-name>
        <url-pattern>/CmdAtivarConta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdSupervisorVisualizarProvas</servlet-name>
        <url-pattern>/CmdSupervisorVisualizarProvas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdSupervisorSalvarCorrecaoProva</servlet-name>
        <url-pattern>/CmdSupervisorSalvarCorrecaoProva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdSupervisorSelecionarArquivo</servlet-name>
        <url-pattern>/CmdSupervisorSelecionarArquivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdListarQuestoesExamePadrao</servlet-name>
        <url-pattern>/CmdListarQuestoesExamePadrao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdVisualizarArquivo</servlet-name>
        <url-pattern>/CmdVisualizarArquivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdVisualizarHistorico</servlet-name>
        <url-pattern>/CmdVisualizarHistorico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSupervisorAdicionarQuestao</servlet-name>
        <url-pattern>/ServletSupervisorAdicionarQuestao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdRecuperarSenha</servlet-name>
        <url-pattern>/CmdRecuperarSenha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdRedirecionar</servlet-name>
        <url-pattern>/CmdRedirecionar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdGerarRelatorio</servlet-name>
        <url-pattern>/CmdGerarRelatorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdSupervisorAdicionarSimulado</servlet-name>
        <url-pattern>/CmdSupervisorAdicionarSimulado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdVisualizarSimulado</servlet-name>
        <url-pattern>/CmdVisualizarSimulado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdRealizarSimulado</servlet-name>
        <url-pattern>/CmdRealizarSimulado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdListarQuestoesSimuladoById</servlet-name>
        <url-pattern>/CmdListarQuestoesSimuladoById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdSalvarSimulado</servlet-name>
        <url-pattern>/CmdSalvarSimulado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdVisualizarResultadoSimulado</servlet-name>
        <url-pattern>/CmdVisualizarResultadoSimulado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdSupervisorVisualizarSimulados</servlet-name>
        <url-pattern>/CmdSupervisorVisualizarSimulados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdSupervisorVisualizarResultadoSimulado</servlet-name>
        <url-pattern>/CmdSupervisorVisualizarResultadoSimulado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdSupervisorVisualizarDesempenhoByAluno</servlet-name>
        <url-pattern>/CmdSupervisorVisualizarDesempenhoByAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdSupervisorVisualizarResultado</servlet-name>
        <url-pattern>/CmdSupervisorVisualizarResultado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdGerenciarSession</servlet-name>
        <url-pattern>/CmdGerenciarSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdVisualizarGabarito</servlet-name>
        <url-pattern>/CmdVisualizarGabarito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdSupervisorAdicionarSimuladoRestrito</servlet-name>
        <url-pattern>/CmdSupervisorAdicionarSimuladoRestrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdSupervisorAdicionarAlunoSimulado</servlet-name>
        <url-pattern>/CmdSupervisorAdicionarAlunoSimulado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdSupervisorBuscarAluno</servlet-name>
        <url-pattern>/CmdSupervisorBuscarAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdSupervisorVisualizarGabarito</servlet-name>
        <url-pattern>/CmdSupervisorVisualizarGabarito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdSupervisorExcluirSimulado</servlet-name>
        <url-pattern>/CmdSupervisorExcluirSimulado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdminVisualizarAlunos</servlet-name>
        <url-pattern>/CmdAdminVisualizarAlunos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminAdicionarQuestao</servlet-name>
        <url-pattern>/ServletAdminAdicionarQuestao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdSupervisorAdicionarAluno</servlet-name>
        <url-pattern>/CmdSupervisorAdicionarAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdTeste</servlet-name>
        <url-pattern>/CmdTeste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdminAdicionarSupervisor</servlet-name>
        <url-pattern>/CmdAdminAdicionarSupervisor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdminEditarSupervisor</servlet-name>
        <url-pattern>/CmdAdminEditarSupervisor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdminBuscarUsuarios</servlet-name>
        <url-pattern>/CmdAdminBuscarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdminVisualizarSupervisores</servlet-name>
        <url-pattern>/CmdAdminVisualizarSupervisores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdminEditarQuestao</servlet-name>
        <url-pattern>/CmdAdminEditarQuestao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdminAtualizarQuestao</servlet-name>
        <url-pattern>/CmdAdminAtualizarQuestao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
