<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ServletCentral</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.servlets.ServletCentral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdCorrigirQuestoes</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminCorrigirProva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdRealizarPoscompPadrao</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdRealizarPoscompPadrao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdEditarCadastro</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdEditarCadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdGerarPDFProva</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdGerarPdfProva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdicionarAluno</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdAdicionarAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAtivarConta</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdAtivarConta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdminVisualizarProvas</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminVisualizarProvas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdminSalvarCorrecaoProva</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminSalvarCorrecaoProva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdminSelecionarArquivo</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminSelecionarArquivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdEnviarArquivos</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdEnviarArquivos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdListarQuestoesExamePadrao</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdListarQuestoesExamePadrao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUploud</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.servlets.ServletUploud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdVisualizarArquivo</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdVisualizarArquivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdVisualizarHistorico</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdVisualizarHistorico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminAdicionarQuestao</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.ServletAdminAdicionarQuestao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdRecuperarSenha</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.CmdRecuperarSenha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdRedirecionar</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.CmdRedirecionar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdGerarRelatorio</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdGerarRelatorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdminAdicionarSimulado</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminAdicionarSimulado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdVisualizarSimulado</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdVisualizarSimulados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdRealizarSimulado</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdRealizarSimulado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdListarQuestoesSimuladoById</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdListarQuestoesSimuladoById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdSalvarSimulado</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdSalvarSimulado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdVisualizarResultadoSimulado</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdVisualizarResultadoSimulado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdminVisualizarSimulados</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminVisualizarSimulados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdminVisualizarResultadoSimulado</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminVisualizarResultadoSimulado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdminVisualizarDesempenhoByAluno</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminVisualizarDesempenhoAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdminVisualizarResultado</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminVisualizarResultadoSimuladoAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdminAdicionarQuestao</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminAdicionarQuestao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCentral</servlet-name>
        <url-pattern>/ServletCentral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUploud</servlet-name>
        <url-pattern>/ServletUploud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdCorrigirQuestoes</servlet-name>
        <url-pattern>/CmdCorrigirQuestoes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdEditarCadastro</servlet-name>
        <url-pattern>/CmdEditarCadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdRealizarPoscompPadrao</servlet-name>
        <url-pattern>/CmdRealizarPoscompPadrao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdGerarPDFProva</servlet-name>
        <url-pattern>/CmdGerarPDFProva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdicionarAluno</servlet-name>
        <url-pattern>/CmdAdicionarAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAtivarConta</servlet-name>
        <url-pattern>/CmdAtivarConta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdminVisualizarProvas</servlet-name>
        <url-pattern>/CmdAdminVisualizarProvas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdminSalvarCorrecaoProva</servlet-name>
        <url-pattern>/CmdAdminSalvarCorrecaoProva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdminSelecionarArquivo</servlet-name>
        <url-pattern>/CmdAdminSelecionarArquivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdListarQuestoesExamePadrao</servlet-name>
        <url-pattern>/CmdListarQuestoesExamePadrao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdVisualizarArquivo</servlet-name>
        <url-pattern>/CmdVisualizarArquivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdVisualizarHistorico</servlet-name>
        <url-pattern>/CmdVisualizarHistorico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminAdicionarQuestao</servlet-name>
        <url-pattern>/ServletAdminAdicionarQuestao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdRecuperarSenha</servlet-name>
        <url-pattern>/CmdRecuperarSenha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdRedirecionar</servlet-name>
        <url-pattern>/CmdRedirecionar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdGerarRelatorio</servlet-name>
        <url-pattern>/CmdGerarRelatorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdminAdicionarSimulado</servlet-name>
        <url-pattern>/CmdAdminAdicionarSimulado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdVisualizarSimulado</servlet-name>
        <url-pattern>/CmdVisualizarSimulado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdRealizarSimulado</servlet-name>
        <url-pattern>/CmdRealizarSimulado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdListarQuestoesSimuladoById</servlet-name>
        <url-pattern>/CmdListarQuestoesSimuladoById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdSalvarSimulado</servlet-name>
        <url-pattern>/CmdSalvarSimulado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdVisualizarResultadoSimulado</servlet-name>
        <url-pattern>/CmdVisualizarResultadoSimulado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdminVisualizarSimulados</servlet-name>
        <url-pattern>/CmdAdminVisualizarSimulados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdminVisualizarResultadoSimulado</servlet-name>
        <url-pattern>/CmdAdminVisualizarResultadoSimulado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdminVisualizarDesempenhoByAluno</servlet-name>
        <url-pattern>/CmdAdminVisualizarDesempenhoByAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdminVisualizarResultado</servlet-name>
        <url-pattern>/CmdAdminVisualizarResultado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdminAdicionarQuestao</servlet-name>
        <url-pattern>/CmdAdminAdicionarQuestao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
