<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ServletCentral</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.servlets.ServletCentral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdCorrigirQuestoes</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminCorrigirProva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdGerarRelatorio</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdGerarRelatorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdRealizarPoscompPadrao</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdRealizarPoscompPadrao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdEditarCadastro</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdEditarCadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdGerarPDFProva</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdGerarPdfProva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdicionarAluno</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdAdicionarAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAtivarConta</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdAtivarConta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdminVisualizarProvas</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminVisualizarProvas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdminSalvarCorrecaoProva</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminSalvarCorrecaoProva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdAdminSelecionarArquivo</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.admin.CmdAdminSelecionarArquivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdEnviarArquivos</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdEnviarArquivos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdListarQuestoesExamePadrao</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdListarQuestoesExamePadrao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUploud</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.servlets.ServletUploud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmdVisualizarArquivo</servlet-name>
        <servlet-class>br.ufc.si.pet.sappe.comandos.alu.CmdVisualizarArquivo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCentral</servlet-name>
        <url-pattern>/ServletCentral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUploud</servlet-name>
        <url-pattern>/ServletUploud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdCorrigirQuestoes</servlet-name>
        <url-pattern>/CmdCorrigirQuestoes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdGerarRelatorio</servlet-name>
        <url-pattern>/CmdGerarRelatorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdEditarCadastro</servlet-name>
        <url-pattern>/CmdEditarCadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdRealizarPoscompPadrao</servlet-name>
        <url-pattern>/CmdRealizarPoscompPadrao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdGerarPDFProva</servlet-name>
        <url-pattern>/CmdGerarPDFProva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdicionarAluno</servlet-name>
        <url-pattern>/CmdAdicionarAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAtivarConta</servlet-name>
        <url-pattern>/CmdAtivarConta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdminVisualizarProvas</servlet-name>
        <url-pattern>/CmdAdminVisualizarProvas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdminSalvarCorrecaoProva</servlet-name>
        <url-pattern>/CmdAdminSalvarCorrecaoProva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdAdminSelecionarArquivo</servlet-name>
        <url-pattern>/CmdAdminSelecionarArquivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdListarQuestoesExamePadrao</servlet-name>
        <url-pattern>/CmdListarQuestoesExamePadrao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmdVisualizarArquivo</servlet-name>
        <url-pattern>/CmdVisualizarArquivo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
